<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  <a href="/causalBuilder/index" target="_blank" class="btn">home page</a>
  <a href="/causalBuilder/howto" target="_blank" class="btn">how to?</a>
  <a href="/causalBuilder/documentation" target="_blank" class="btn">documentation</a>
  <a href="/causalBuilder/about" target="_blank" class="btn">about</a>
</section>
