---
---

@import "{{ site.theme }}";


/* increased width and reduced padding of main-content */
.main-content {
  max-width: 75rem; 
  padding: 2rem 1rem;}
h1 {
  font-size: 1.5em;
  margin: 0.67em 0; }
  
table { font-size: 14px; }

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

.column_logo {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.column input { 
    text-align: center; 
}


input {
  width: 15px;
  height: 15px;

  vertical-align: middle;
  position: relative;
  top: -1px;

}

div p {
text-align: justify;
}

td, th {
    border: 1px solid grey
}

.side-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

input[type=number]{
  width: 120px;
  height: 50px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: nont;
  vertical-align: middle;
  font-size: 11pt;
}

.dropdownbox {
  max-width: 8rem;
  margin-bottom: 2rem;
}

/* add shadow to gif images*/ 
#gif{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
#vsm-box .term{
	font-size:20px;
	line-height: normal;
}

#vsm-box .term.inp input{
	font-size: 17px;
}

*/
