---
---

@import "{{ site.theme }}";

/* increased width and reduced padding of main-content */
.main-content {
  max-width: 75rem; 
  padding: 2rem 1rem;}
h1 {
  font-size: 1.5em;
  margin: 0.67em 0; }
  
table { font-size: 14px; }

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

.column_logo {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.column input { 
    text-align: center; 
}

input[type=number]{
  width: 120px;
}

div p {
text-align: justify;
}

td, th {
    border: 1px solid grey
}

/*
#vsm-box .term{
	font-size:20px;
	line-height: normal;
}

#vsm-box .term.inp input{
	font-size: 17px;
}

*/
